
   <%- include("./partials/header")%>
    <div class="container">
        
        <div class="jumbotron">
            
          <h1 class="display-4">Movie Search Application!</h1>
          <p class="lead" style="color: #0d0d0e;font:Arial, Helvetica, sans-serif">One stop for information related to films, television programs, home videos, video games, and streaming content online – including cast, production crew and personal biographies, plot summaries, trivia, ratings, and fan and critical reviews </p>
       
          
          <hr class="my-4" />
          <p>This is created by Koushik Thatipally .</p>
          
        </div>
      </div>

     
      <%if(moviedump1.Response==='False'){%>
        <h1>Movie not found!</h1>
<%}else{%>
    
  
        
        <div class="row">
         <% moviedump1["Search"].forEach(function(movie) { %>
         <div
           class="card px-2 py-2"
           style="
             width: 20rem;
             margin-bottom: 10px;
             margin-left: 10px;
             margin-right: 10px;
           "
         >
           <img class="card-img-top" src="<%=movie.Poster%>" alt="Image Not Found" />
           <div class="card-body">
             <h5 class="card-title"><%=movie["Title"]%></h5>
             <p class="card-text">Released on <%=movie["Year"]%></p>
             <a href="/result/<%=movie.imdbID%>" class="btn btn-primary">Know More</a>
           </div>
         </div>
         <% }) %>
       </div>    
          
          
        <%}%>
    </div>
    

          
 
      
      
      
  
  <%- include("./partials/footer")%>
